In [56]:
import time
import hashlib
import requests
import random


# API credentials
public_key = "2a0a40871b6a80aad67b4decfc3209d9"
private_key = "23232a74bcf8db482c81a9394fa52a4b7121af36"

# Define a list of characters to retrieve
characters = []
character_id = []
total_events = []
total_series = []
total_comics = []
most_expensive_comic = []

# Loop 30 times and retrieve a random character each time
for i in range(30):
    # Get a random letter of the alphabet
    letter = random.choice("abcdefghijklmnopqrstuvwxyz")
    
    # Get the current timestamp as a string
    timestamp = str(int(time.time()))

    # Hash the timestamp and private key to create the md5 hash
    hash_str = timestamp + private_key + public_key
    md5_hash = hashlib.md5(hash_str.encode()).hexdigest()

    # Build the API request URL
    url = f"https://gateway.marvel.com/v1/public/characters?nameStartsWith={letter}&limit=100&ts={timestamp}&apikey={public_key}&hash={md5_hash}"

    # Send the request to the API and parse the JSON response
    response = requests.get(url)
    data = response.json()

    # Extract a random character from the response
    results = data["data"]["results"]
    character = random.choice(results)

    # Add the character to the list
    characters.append(character["name"])
    character_id.append(character["id"])
    total_events.append(character["events"]["available"] if "events" in character else None)
    total_series.append(character["series"]["available"] if "series" in character else None)
    total_comics.append(character["comics"]["available"] if "comics" in character else None)

,id,total_events,total_series,total_comics,most_expensive_comic
Character Name,,,,,
Clea,1009239,2,30,109,NaN
Black Tom,1009188,1,8,15,NaN
Howard The Duck,1010373,1,34,110,NaN
Radioactive Man,1009526,2,20,30,NaN
Sandman,1009558,0,45,120,NaN
Rick Jones (Ultimate),1015006,0,0,0,NaN
Makkari,1010725,0,7,18,NaN
Wendell Vaughn,1010742,0,0,0,NaN
Thunderbolt Ross,1014812,0,9,18,NaN
X-Men,1009726,42,929,3734,NaN
Nocturne,1009474,1,14,33,NaN
Ancient One,1009152,2,11,30,NaN
Colleen Wing,1010676,3,23,87,NaN
Toro (Thomas Raymond),1011309,2,16,33,NaN
Freak,1011240,0,2,6,NaN
Julian Keller,1010679,0,3,6,NaN
Luminals,1011200,0,0,0,NaN
James Buchanan Barnes,1010775,0,3,3,NaN
Quake (Daisy Johnson),1014528,5,12,39,NaN
Zaran,1010841,1,4,19,NaN
Union Jack (Brian Falsworth),1010985,0,3,4,NaN
Jeryn Hogarth,1011404,0,5,19,NaN
Dark X-Men,1011387,1,3,10,NaN
Lord Hawal,1011145,1,1,1,NaN
Flying Dutchman,1010333,0,0,0,NaN
Ord,1011202,0,5,11,NaN
Alicia Masters,1009435,2,20,60,NaN
Countess,1009250,0,1,1,NaN
Geiger,1011248,0,0,0,NaN
Hulk (Marvel: Avengers Alliance),1017303,0,0,0,NaN

,id,total_events,total_series,total_comics,most_expensive_comic
Character Name,,,,,
Clea,1009239,2,30,109,NaN
Black Tom,1009188,1,8,15,NaN
Howard The Duck,1010373,1,34,110,NaN
Radioactive Man,1009526,2,20,30,NaN
Sandman,1009558,0,45,120,NaN
Rick Jones (Ultimate),1015006,0,0,0,NaN
Makkari,1010725,0,7,18,NaN
Wendell Vaughn,1010742,0,0,0,NaN
Thunderbolt Ross,1014812,0,9,18,NaN
X-Men,1009726,42,929,3734,NaN
Nocturne,1009474,1,14,33,NaN
Ancient One,1009152,2,11,30,NaN
Colleen Wing,1010676,3,23,87,NaN
Toro (Thomas Raymond),1011309,2,16,33,NaN
Freak,1011240,0,2,6,NaN
Julian Keller,1010679,0,3,6,NaN
Luminals,1011200,0,0,0,NaN
James Buchanan Barnes,1010775,0,3,3,NaN
Quake (Daisy Johnson),1014528,5,12,39,NaN
Zaran,1010841,1,4,19,NaN
Union Jack (Brian Falsworth),1010985,0,3,4,NaN
Jeryn Hogarth,1011404,0,5,19,NaN
Dark X-Men,1011387,1,3,10,NaN
Lord Hawal,1011145,1,1,1,NaN
Flying Dutchman,1010333,0,0,0,NaN
Ord,1011202,0,5,11,NaN
Alicia Masters,1009435,2,20,60,NaN
Countess,1009250,0,1,1,NaN
Geiger,1011248,0,0,0,NaN
Hulk (Marvel: Avengers Alliance),1017303,0,0,0,NaN

In [61]:
# Save the DataFrame to a CSV file
df.to_csv("data.csv", index=False)

In [71]:
df

,id,total_events,total_series,total_comics,most_expensive_comic
Character Name,,,,,
Clea,1009239,2,30,109,NaN
Black Tom,1009188,1,8,15,NaN
Howard The Duck,1010373,1,34,110,NaN
Radioactive Man,1009526,2,20,30,NaN
Sandman,1009558,0,45,120,NaN
Rick Jones (Ultimate),1015006,0,0,0,NaN
Makkari,1010725,0,7,18,NaN
Wendell Vaughn,1010742,0,0,0,NaN
Thunderbolt Ross,1014812,0,9,18,NaN
X-Men,1009726,42,929,3734,NaN
Nocturne,1009474,1,14,33,NaN
Ancient One,1009152,2,11,30,NaN
Colleen Wing,1010676,3,23,87,NaN
Toro (Thomas Raymond),1011309,2,16,33,NaN
Freak,1011240,0,2,6,NaN
Julian Keller,1010679,0,3,6,NaN
Luminals,1011200,0,0,0,NaN
James Buchanan Barnes,1010775,0,3,3,NaN
Quake (Daisy Johnson),1014528,5,12,39,NaN
Zaran,1010841,1,4,19,NaN
Union Jack (Brian Falsworth),1010985,0,3,4,NaN
Jeryn Hogarth,1011404,0,5,19,NaN
Dark X-Men,1011387,1,3,10,NaN
Lord Hawal,1011145,1,1,1,NaN
Flying Dutchman,1010333,0,0,0,NaN
Ord,1011202,0,5,11,NaN
Alicia Masters,1009435,2,20,60,NaN
Countess,1009250,0,1,1,NaN
Geiger,1011248,0,0,0,NaN
Hulk (Marvel: Avengers Alliance),1017303,0,0,0,NaN